input{
	file{
	path => "/Applications/Kibana/logstash-6.4.2/data/data files/JobList_InternTimeNew.csv"
	start_position => "beginning"
	
	}
}
filter{
	csv{
	separator => ","
	columns => ["Job_Title","URL","Job Type","Company","City","State","Minimum Salary","Maximum Salary","Skills"]
	}
	mutate {convert => ["Minimum Salary","integer"]}
	mutate {convert => ["Maximum Salary","integer"]}
}
output{
	elasticsearch{
	hosts => ["http://localhost:9200"]
	index => "joblistintern"
	document_type => "intern_jobs"
	}
	stdout {}
}