input {
  file {
    path => "/Users/JacobSGreene/Downloads/Dummy Data.csv"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}

filter {
	csv {
		separator => ","
		columns => ["State", "2014 Gross State Product", "Industry", "Industry Value-Added", "Export Industry", "Manufacturing Industry", "Base Year", "Ratio Type", "Total Tax", "Total Incentives", "Net Tax", "Property Tax", "Sales Tax", "Corporate Income Tax", "Job Creation", "Investment Tax Credit", "Research and Development Credit", "Property Tax Abatement", "Customized Job Training Subsidy"]
	}
}



output {
  elasticsearch {
    hosts => ["http://localhost:9200"]
    index => "jobs"
    document_type => "open_jobs"
  }
  stdout {}
}